# Dependências
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Ambiente
.env
.env.local
.env.*.local

# Diretórios de build
/dist
/build

# Logs
logs
*.log

# Diretório de relatórios
/relatories/*
!/relatories/.gitkeep

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# Arquivos grandes
reports/relatory_01/Relatorio de estoque.xlsx
temp/*.zip

# Diretórios
/node_modules
/dist
/build
/.next
/.cache

# Diretório temp
/temp/*
!/temp/.gitkeep 